@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@font-face {
  font-family: "Dimensions";
  src:
    url("https://use.typekit.net/af/2f3a80/00000000000000003b9b124d/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2f3a80/00000000000000003b9b124d/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2f3a80/00000000000000003b9b124d/27/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Geist";
  src:
    local("Geist Mono"),
    url("/fonts/Geist-Subset.woff2") format("woff2"),
    url("/fonts/Geist.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Fallback for Geist";
  src: local("Arial");
}

@font-face {
  font-family: "Geist Mono";
  src:
    local("Geist Mono"),
    url("/fonts/GeistMono-Subset.woff2") format("woff2"),
    url("/fonts/GeistMono.ttf") format("truetype");
  font-display: swap;
  font-weight: 700 400;
}

@font-face {
  font-family: "Fallback for Geist Mono";
  src: local("Courier New");
}

@font-face {
  font-family: "Fallback for Dimensions";
  src: local("Arial");
}

@theme {
  --font-sans: "Geist", "Fallback for Geist", sans-serif;
  --font-mono: "Geist Mono", "Fallback for Geist Mono", monospace;
  --font-accent: "Dimensions", "Fallback for Dimensions", sans-serif;

  --color-foreground: #fff;
  --color-background: #000;
  --color-accent: #f00;
}

@layer base {
  @media (prefers-color-scheme: dark) {
    [data-theme="system"] {
      --color-foreground: #e0e0e0;
      --color-background: #0d1b2a;
      --color-accent: #ff7b00;
    }
  }
  @media (prefers-color-scheme: light) {
    [data-theme="system"] {
      --color-foreground: #2d2d2d;
      --color-background: #f5f5f5;
      --color-accent: #007aff;
    }
  }
  [data-theme="dark"] {
    --color-foreground: #e0e0e0;
    --color-background: #0d1b2a;
    --color-accent: #ff7b00;
  }
  [data-theme="brest"] {
    --color-foreground: #ffffff; 
    --color-background: #9b0000; 
    --color-accent: #000000;  
  }
  [data-theme="light"] {
    --color-foreground: #2d2d2d;
    --color-background: #f5f5f5;
    --color-accent: #007aff;
  }
  [data-theme="arc-browser"] {
    --color-foreground: var(--arc-palette-title);
    --color-background: var(--arc-palette-background);
    --color-accent: var(--arc-palette-foregroundPrimary);
  }
  [data-theme="pastel"] {
    --color-foreground: #4f4f4f;
    --color-background: #ffebef;
    --color-accent: #b3c0ff;
  }
  [data-theme="solarized-light"] {
    --color-foreground: #657b83;
    --color-background: #fdf6e3;
    --color-accent: #d33682;
  }
  [data-theme="solarized-dark"] {
    --color-foreground: #839496;
    --color-background: #002b36;
    --color-accent: #b58900;
  }
}
