---
import type { CollectionEntry } from "astro:content";
import { useTranslation } from "../../i18n";
import { getLocale } from "@/utils/get-locale";

interface Props {
  certification: CollectionEntry<"certifications">;
}
const { certification } = Astro.props;
const locale = getLocale(Astro.params.lang);
const t = useTranslation(locale);
---

<li>
  <h3 class="text-lg font-mono">{certification.data.name[locale]}</h3>
  <p class="text-sm text-foreground/70">
    - {t("components.items.certification.certifiedBy")}{" "}
    {certification.data.organization}
    (<date class="lowercase"
      >{
        certification.data.date.toLocaleString(locale, {
          month: "long",
          year: "numeric",
        })
      }</date
    >)
  </p>
</li>
