---
interface Props {
  title: string;
  subtitle: string;
  text: string;
  slug: string;
}

const { title, subtitle, text, slug } = Astro.props;
---

<li>
  <h4 class="text-xl font-mono">{title}</h4>
  <p class="text-sm text-foreground/70 lowercase">{subtitle}</p>
  <p class="text-md">{text}</p>
  <a
    class="text-sm text-accent relative after:absolute after:w-0 after:-bottom-0 hover:after:w-full after:h-px after:bg-accent after:left-0"
    href={`/projects/${slug}`}
  >
    Read more
  </a>
</li>
