---
import type { CollectionEntry } from "astro:content";

interface Props {
  school: CollectionEntry<"schools">;
}
const {
  school: { data },
} = Astro.props;
---

<li>
  <h3 class="text-lg">{data.name}</h3>
  <div class="text-foreground/70 text-sm">
    <h4 class="inline-block">- {data.school}</h4>
    <p class="lowercase inline-block">
      <span>(From</span>{" "}
      <date>{data.period[0].toLocaleDateString("en-US", { month: "long", year: "numeric" })}</date>{" "}
      <span>to</span>{" "}
      <date>
        {
          data.period[1] === "now"
            ? "right now"
            : data.period[1].toLocaleDateString("en-US", { month: "long", year: "numeric" })
        }
      </date>
      <span class="-ml-[1ch]">)</span>
    </p>
  </div>
  <p class="text-sm">{data.description}</p>
</li>
