---
interface Props {
    link: string;
    title: string;
    description: string;
}
const { link, title, description } = Astro.props;
---

<li class="group">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href={link}
      class="flex items-center justify-between group-hover:text-accent font-medium transition-colors"
      title={title}
    >
      <div>
        <h3>{link.replace('https://', '')}</h3>
        <p class="text-xs text-foreground/60 mr-4">{description}</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="group-hover:rotate-45 transition-transform"
      >
        <>
          <path d="M7 7h10v10" />
          <path d="M7 17 17 7" />
        </>
      </svg>
    </a>
  </li>
