---
import Layout from "../layouts/Layout.astro";
import WithTitleLayout from "../layouts/WithTitleLayout.astro";
import { excludeDrafts } from "../utils/excluse-drafts";
import { getCollection } from "astro:content";

const postsList = await getCollection("blog");

const posts = postsList.filter(excludeDrafts).sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<Layout
  title="Blog"
  description="Read my latest articles, thoughts, and tech tutorials. I write about web development, software engineering, automation, and tech culture."
>
  <WithTitleLayout
    title="Blog - Insights & Experiments"
    subtitle="Exploring web development, automation, and new technologies—one project at a time."
  >
    {
      posts.length === 0 ? (
        <p class="mt-4 w-full text-center text-base font-semibold">No posts found.</p>
      ) : (
        <ul>
          {posts.map((post) => (
            <li class="mt-4">
              <a href={`/blog/${post.data.slug}`}>
                <h2 class="text-lg">{post.data.title}</h2>
                <p class="text-sm text-foreground/60">{post.data.summary}</p>
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </WithTitleLayout>
</Layout>
