---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout>
  <Title />
  <h1 class="sr-only">
    Full-Stack Software Engineer - Pierre Guéroult - Paris, France
  </h1>
  <p>
    20-year-old web developer & CS student. I love crafting sleek websites and
    automating workflows to make life easier. Passionate about clean code,
    problem-solving, and making tech work smarter, not harder. Always exploring
    new technologies, always up for a challenge. Whether it's web development,
    automation, or something completely out of my comfort zone—I'm in.
  </p>
</Layout>
