---
const letters: string[] = ["P", "i", "e", "r", "r", "e", " ", "G", "u", "e", "r", "o", "u", "l", "t"];
---

<div
  class="font-accent text-[19rem] uppercase text-center leading-none flex items-center not-[[data-title-ready]]:opacity-0 w-full overflow-hidden justify-center"
  data-title-container
>
  {
    letters.map((letter) => (
      <span
        class={`letter opacity-0 text-foreground ${letter === " " ? "min-w-[0.5ch]" : ""}`}
        style={`animation-delay: ${Math.random() * 0.5}s`}
      >
        {letter}
      </span>
    ))
  }
</div>

<style>
  @keyframes letter-enter-animations {
    0% {
      opacity: 1;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  [data-title-ready] .letter {
    animation: letter-enter-animations 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
</style>

<script>
  import FontFaceObserver from "fontfaceobserver";

  const font = new FontFaceObserver("Dimensions");
  const container = document.querySelector("[data-title-container]");

  font
    .load()
    .then(() => {
      if (container) container.setAttribute("data-title-ready", "");
    })
    .catch(() => {
      console.log("Font could not be loaded");
    });
</script>
