---
interface Props {
  title: string;
  text: string;
}
const { title, text } = Astro.props;
---

<div
  role="alert"
  class="relative w-full rounded px-4 py-3 bg-accent/20 [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-foreground [&>svg~*]:pl-8 text-foreground"
  lang={Astro.locals.locale}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-languages"
  >
      <path d="m5 8 6 6"></path>
      <path d="m4 14 6-6 2-3"></path>
      <path d="M2 5h12"></path>
      <path d="M7 2h1"></path>
      <path d="m22 22-5-10-5 10"></path>
      <path d="M14 18h6"></path>
  </svg>
  <p class="text-base font-bold mb-1" data-test-title>
    {title}
  </p>
  <p class="text-sm leading-tight" data-test-text>
    {text}
  </p>
</div>
